body {
  font-family: Roboto;
  color: #58595B;
  padding: 0 15%;
}

@media only screen and (max-width: 600px) {
    body {
      font-family: Roboto;
      color: #58595B;
      padding: 0 2%;
    }
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=file] {
    display: block;
    padding: 4px 20px;
    margin: 8px 0;
    color:#66B3E3;
}

input[type=submit] {
    width: 100%;
    background-color: #66B3E3;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #5392BA;
}

textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

div.wrapper {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

img {
  margin-bottom: 5px;
}

.responsive h2 {
  color: #66B3E3;
  font-size: 3em;
  margin: 5px 0;
}

p {
  line-height: 1.5em;
}

.require {
  color: red;
}

.responsive {
  width: 35%;
  height: auto;
}
