@media only screen and (min-width: 1300px) {
  body {
    padding: 0 15%;
    font-family: Roboto, sans-serif;
  }

  .instructions {
    display: flex;
  }
}


@media only screen and (min-width: 650px) and (max-width: 1299px){
    body {
      font-family: Roboto, sans-serif;
      color: #58595B;
      padding: 0;
    }

    .responsive {
      width: 100%;
      height: auto;
    }

    .instructions {
      display:flex;
    }

}

@media only screen and (max-width: 650px) {
    body {
      font-family: Roboto, sans-serif;
      color: #58595B;
      padding: 0;
    }

    .responsive {
      width: 100%;
      height: auto;
    }

    .instructions {
      display:flex;
      flex-flow: column;
    }

    .left-panel-ev {
      flex: 1;
      text-align: center;
      order: 2;
    }


    .left-panel-od {
      flex: 1;
      text-align: center;
      order: 1;
    }
    .right-panel-od {
      flex: 1;
      text-align: center;
      order: 2;
    }

    .right-panel-ev {
      flex: 1;
      text-align: center;
      order: 1;
    }

}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=file] {
    display: block;
    padding: 4px 20px;
    margin: 8px 0;
    color:#66B3E3;
}

input[type=submit] {
    width: 100%;
    background-color: #66B3E3;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #5392BA;
}

textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

div.wrapper {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.responsive h2 {
  color: #66B3E3;
  font-size: 3em;
  margin: 5px 0;
}

p {
  line-height: 1.5em;
  margin: 0;
}

h3, h2, h1 {
  margin: 0;
}

i {
  font-size: 2em;
  margin: 0 15px;
}

.require {
  color: red;
}

.style-bar {
  padding: 5px 0;
  width: 100%;
  text-align: center;
}

.blue {
  color: white;
  background-color: #66B3E3;
}

.grey {
  color: white;
  background-color: #58595B;
}

.white {
  color: #58595B;
  background-color: white;
}

.responsive-logo {
  width: 50%;
  height: auto;
  margin: 20px;
}

.brand-header {
  width: 100%;
  text-align: center;
}

.instructions {

}

.left-panel-ev {
  flex: 1;
  text-align: center;
}

.right-panel-od {
  flex: 1;
  text-align: center;
}

.left-panel-od {
  flex: 1;
  text-align: center;
}

.right-panel-ev {
  flex: 1;
  text-align: center;
}
